i.action{
    font-style: normal;
    font-weight: bold;
    background-color: #ffae86;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
    color: #404040;
}

.home-content {
    padding-bottom: 26rem !important;
}

.s-clients{
    color: #e5e5e5;
}
